{% extends 'base.html' %}
{% load static %}

{% block headcontent %}
<title>Library Search</title>
<link rel="stylesheet" href="{% static 'css/library_search.css' %}" />
<link rel="stylesheet" href="{% static 'css/view_books.css' %}" />
{% endblock headcontent %}

{% block content %}
<div class="pic"></div>
<h2>Library Search</h2>
<form id="searchForm" action="{% url 'library_search' %}" method="get">
    <label for="search">Search by:</label>
    <input type="radio" id="title" name="search_by" value="title" checked />
    <label for="title">Title</label>
    <input type="radio" id="author" name="search_by" value="author" />
    <label for="author">Author</label>
    <input type="radio" id="category" name="search_by" value="category" />
    <label for="category">Category</label>
    <input type="text" name="s" id="searchInput" placeholder="Enter search term" />

</form>

<ul id="booklist">
    {% for book in books %}
    <div class="book" style="margin: 10px;" data-book-id="{{book.id}}" onclick="openBook(this)">
        <div class="book_info">
            <img src="{{book.cover_photo.url}}" alt="{{book.title}}">
            <h2>{{ book.title }}</h2>
            <p><strong>Category:</strong> {{ book.category }}</p>
            <p><strong>By:</strong> {{ book.author }}</p>
            <p class="heart">❤</p>

        </div>
    </div>
    {% endfor %}
</ul>

{% if request.session.user_id%}
{% if request.session.user_role == 'reader' %}
<div id="urltemp" data-url="{%url 'user_book_details' user_id=0 book_id=0  %}">
</div>
{%endif%}
{% if request.session.user_role == 'admin' %}
<div id="urltemp" data-url="{%url 'admin_book_details' book_id=0  %}">
</div>
{%endif%}
{%endif%}

<div id="userid" data-user-id="{{ request.session.user_id }}"></div>
<div id="userole" data-user-role="{{ request.session.user_role }}"></div>
{% endblock content%}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="{% static 'js/library_search.js' %}"></script>
<!-- <script> -->
<!-- </script> -->


{% endblock js %}