{% extends 'base.html' %}
{%load static%}

{% block headcontent %}
<link rel="stylesheet" href="{% static 'css\privacy_policy.css' %}">
<title>Privacy Policy</title>
{% endblock headcontent %}


{% block content %}
<div>
    <h1>Privacy Policy</h1>
</div>
<div>
    <h4>At the Online Library website, we realize that the privacy of your personal information is important to
        you
        and to us.<br />
        Below is information about the types of personal information we receive and collect when you visit an
        online
        bookstore, and how we protect your personal information.</h4>
</div>
<div>
    <ol>
        <div>
            <li>
                <h2>Log Files</h2>
            </li>
            <h4>As is the case with most websites, we collect and use the data contained in log files.<br>
                The information in the log files includes your Internet Protocol (IP) address, your Internet
                Service
                Provider (ISP), the browser you used to visit our Site, the time of your visit, and the pages
                you
                visit across our Site.</h4>
        </div>
        <div>
            <li>
                <h2>Cookies</h2>
            </li>
            <h4>We use cookies to give you the best possible user experience on the simple website.<br /> For
                more
                information about cookies, visit:<br /><a href=" http://www.allaboutcookies.org/" target="-blank"
                    title="about cookies">allaboutcookies</a></h4>
        </div>
        <div>
            <li>
                <h2>Essential Cookies</h2>
            </li>
            <h4>Essential cookies are essential for you to navigate and move around the website, and do not
                store
                any information that can be used for advertising purposes.<br /> Without essential cookies, our
                website will not function properly. </h4>
        </div>
        <div>
            <li>
                <h2>Personalized Cookies </h2>
            </li>
            <h4>These cookies store information, such as your personal preferences, and use it to customize a
                unique
                experience for you.<br />
                This may include showing you a pop-up only once during your visit, saving your language
                preferences,
                or allowing you to automatically sign in to some of our features. </h4>
        </div>
        <div>
            <li>
                <h2>Analytics Cookies </h2>
            </li>
            <h4>Analytics cookies capture anonymous data so we can see trends and improve your website
                experience.<br />
                These allow us to test different designs, and help us identify breakage if part of our site
                isn't
                working.</h4>
        </div>
        <div>
            <div>
                <li>
                    <h2>Advertising Cookies</h2>
                </li>
                <h4>Some third-party advertisers may use cookies or web beacons when advertising on our
                    site.<br />
                    These will send these advertisers (such as Google through the Google AdSense program)
                    information including your IP address, your ISP, the browser you used to visit our site, and
                    in
                    some cases information about whether you have Flash installed.</h4>

            </div>
            <div>
                <ul>
                    <li>
                        <h4>Third-party vendors, including Google, use cookies to serve ads based on a user's
                            past
                            visits to our website or other sites on the web.</h4>
                    </li>
                    <li>
                        <h4>Using advertising cookies, Google and its partners will be able to serve ads to your
                            users based on their visit to our site and/or other sites on the Internet.</h4>
                    </li>
                    <li>
                        <h4>Users can opt out of the use of personalized advertising by going to Ads Settings.
                        </h4>
                    </li>
                </ul>
            </div>
            <div>
                <h4>If you do not choose to opt out of serving third-party ads, cookies from other third-party
                    ad
                    networks or vendors may also be used to serve ads on our site. </h4>
            </div>
            <div>
                <h4>This is generally used for geotargeting purposes for example (showing SEO ads in Egypt to
                    someone in Egypt) or showing certain ads based on specific sites visited (such as showing
                    real
                    estate ads to someone who frequents real estate sites). </h4>
            </div>
            <div>
                <h4>By continuing to use our site, you agree to the placement of cookies on your device. You can
                    choose to selectively disable or turn off cookies or third-party cookies in your browser
                    settings. However, this can affect how you interact with our site as well as other websites.
                </h4>
            </div>
            <div>
                <h4>If you have any questions or there is any problem with our data use policy, please contact
                    us
                    through the contact us page.</h4>
            </div>
        </div>
    </ol>
    <div>

    </div>
    {%endblock content%}